<section class="homepage relative">
  <!-- Header -->
  <header
    class="header absolute left-2 top-3 p-4 flex justify-between items-center font-thin text-6xl w-full px-10 "
    [ngClass]="{ 'text-gray-800': !darkMode, 'text-gray-300': darkMode }"
  >
    <div class="flex justify-between w-1/2">
      <p>R</p>
      <button
      (click)="toggleDarkMode()"
      class="mode flex justify-center items-center gap-1 bg-transparent border-none cursor-pointer"
    >
      <i
        class=" mode_icon material-icons text-3xl hover:text-gray-500 transition-colors duration-300"
      >
        {{ darkMode ? "wb_sunny" : "brightness_3" }}
      </i> <span class="text-xl theme">{{darkMode?"Light Mode":"Dark Mode"}}</span>
    </button>
    </div>
    
  

    
    <!-- Navigation Menu -->

       <button class="hidden cursor-pointer z-20 text-3xl toggle " (click)="toggleNav()">
         <i class="fa-solid fa-bars"></i> 
       </button>

       <nav *ngIf="navVisible" class="animated-nav absolute top-10 left-0 h-screen w-1/2 z-10">
         <div>
           <ul class="text-2xl">
             <li>Home</li>
             <li>About</li>
             <li>Services</li>
             <li>Contact</li>
             <li>More</li>
           </ul>
         </div>
       </nav>
  
  </header>
 
  <!-- Navigation -->
  <nav 
    class="navbar fixed top-60 left-0 flex flex-col justify-center items-start p-4 w-1/6 "
  >
    <ul class="flex flex-col justify-center items-start p-15">
      <app-nav-item
        *ngFor="let item of navItems"
        [item]="item"
        [activeLinkId]="activeLinkId"
        (setActiveLink)="setActive($event)"
      >
      </app-nav-item>
    </ul>
  </nav>

  <!-- Main Content -->
  <main
    class="home_content flex  justify-between items-center h-screen pl-40"
  >
    <div class="text-start">
      <p
        class="title text-7xl font-bold mb-5"
        [ngClass]="{
          'text-gray-800': !darkMode,
          'text-gray-400': darkMode,
          'text-7xl': true,
          'font-bold': true,
          'mb-5': true
        }"
      >
        Rahul Mamoria
      </p>
      <!-- <p class="text-2xl text-gray-600 mt-4"> -->
      <p
        class="text-2xl"
        [ngClass]="{ 'text-gray-800': !darkMode, 'text-gray-300': darkMode }"
      >
        I'm <span class="custom-underlined">{{ displayedRole }}</span>
      </p>
      <!-- <div class="text-gray-600 mt-6"> -->
      <div
        class="text-2xl mt-6"
        [ngClass]="{
          'text-gray-600': !darkMode,
          'text-gray-300': darkMode,
          'text-2xl': true,
          'mt-6': true
        }"
      >
        <ul class="flex gap-7">
          <li>
            <a href="https://x.com/rahul_rm__" target="_blank"
              ><i class="fab fa-twitter"></i
            ></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/rahulmm07/" target="_blank"
              ><i class="fab fa-linkedin"></i
            ></a>
          </li>
          <li>
            <a href="https://www.instagram.com/rahul_rm__/" target="_blank"
              ><i class="fab fa-instagram"></i
            ></a>
          </li>
          <li><i class="fab fa-facebook"></i></li>
        </ul>
      </div>
    </div>
    <div class="image_container h-full">
      <img
        src="/assets/image.png"
        class="hero_image h-full opacity-90"
        alt="Rahul Mamoria's Image"
      />
    </div>
  </main>
</section>
