<section class="homepage relative ">
  <!-- Navigation -->


  <div class="absolute left-10 top-3 p-4 font-thin text-gray-800 text-6xl">
    R
  </div>

  <nav class="fixed top-60 left-0 flex flex-col justify-center items-start p-4 w-1/6">
    <ul class="flex flex-col justify-center items-start p-15">
      <app-nav-item 
      *ngFor="let item of navItems" 
      [item]="item" 
      [activeLinkId]="activeLinkId" 
      (setActiveLink)="setActive($event)">
    </app-nav-item> 
     </ul>
  </nav>

 <!-- Name and Role Section -->
  <div class="flex justify-between items-center h-screen text-white opacity-100">
   
    <div class="text-start ml-64">
      <h1 class="text-7xl font-bold text-gray-800 mb-5">Rahul Mamoria</h1>
      <p class="text-2xl text-gray-600">
        I'm <span class="custom-underlined">{{ displayedRole }}</span>
      </p>
      <div class="text-gray-600 mt-5">
        <ul class="flex gap-7">
          <li>
            <a href="https://x.com/rahul_rm__" target="_blank"><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/rahulmm07/" target="_blank"><i class="fab fa-linkedin"></i></a>
          </li>
          <li>
            <a href="https://www.instagram.com/rahul_rm__/" target="_blank"><i class="fab fa-instagram"></i></a>
          </li>
          <li><i class="fab fa-facebook"></i></li>
        </ul>
      </div>
    </div>
    <img src="/assets/image.png" class="h-full opacity-70" alt="" />
  </div>
</section>
