.homepage {
    background: linear-gradient(rgba(108, 108, 108, 0.3), rgba(0, 0, 0, 0.3));
    /* background-size: cover; */
    background-position: center;
    height: 100vh;
    color: black;
    width: 100%;
}


.section {
    height: 100vh;
  }
  
  .nav-link.active {
    background-color: #4a5568;
  }
.fas {
    font-size: 20px; 
}

.fab {
    font-size: 25px;
    cursor: pointer;
}

.fab:hover {
    color: #3b82f6;
}

.custom-underlined {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.custom-underlined::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust the distance from text */
    width: 100%;
    height: 1px;
    background-color: #3b82f6; /* Change underline color */
    transition: width 1s ease-out; /* Optional: Add transition effect */
}

.custom-underlined:hover::after {
    width: 0; /* Optional: Hide underline on hover */
}

/* .toggle{
    display: none;
} */

@keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  /* Show the toggle button when screen width is 1024px or less */
  
@media screen and (max-width:1024px){
    .home_content{
        padding-left: 50px;
    }
    .navbar{
        display: none;
    }
    .toggle{
        display: block;
        animation: slideIn 0.5s ease-out forwards;
    }
    .title{
        font-size: 48px;
    }
}
.animated-nav {
    animation: slideIn 0.5s ease-out forwards;
    background-color: gray;
    
  }
  
  /* Optionally, if you want to animate the nav disappearing */
  .animated-nav.slide-out {
    animation: slideOut 0.5s ease-out forwards;
  }
@keyframes slideOut {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(-100%);
      opacity: 0;
    }
  }
  
@media screen and (max-width:450px){
    .home_content{
        flex-wrap: wrap;
        padding-left: 50px;
    }
    .navbar{
        display: none;
    }
    .title{
        font-size: 48px;
    }
    .image_container{
        padding: 0;
        display: none;
    }
    .hero_image{
        padding: 10px 10px;
        text-align: center;
        height: 25rem;
        width: 16rem;
    }

    .header{
        display: flex;
        align-items: start;
        justify-content: space-between;

    }
    .theme, .mode_icon{
        font-size: 20px;
    }
   .mode{
    margin-top: -20px;

   }
}