<div class="container mx-auto px-4 py-8">
    <h2 class="text-3xl font-bold text-gray-800 mb-6">Resume</h2>
  
    <!-- Personal Information -->
    <div class="mb-8">
      <h3 class="text-xl font-bold text-gray-800 mb-4">Personal Information</h3>
      <ul class="list-disc list-inside">
        <li><strong>Name:</strong> Rahul Mamoria</li>
        <li><strong>Email:</strong> rahul.com</li>
        <li><strong>Phone:</strong> +1234567890</li>
        <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/rahulmm07/" target="_blank">linkedin.com/in/rahulmm07</a></li>
      </ul>
    </div>
  
    <!-- Education -->
    <div class="mb-8">
      <h3 class="text-xl font-bold text-gray-800 mb-4">Education</h3>
      <div class="mb-4">
        <h4 class="font-semibold">Bachelor of Science in Computer Science</h4>
        <p class="text-gray-600">University of Example, 2010 - 2014</p>
      </div>
      <div>
        <h4 class="font-semibold">Master of Business Administration (MBA)</h4>
        <p class="text-gray-600">Business School of Example, 2014 - 2016</p>
      </div>
    </div>
  
    <!-- Experience -->
    <div class="mb-8">
      <h3 class="text-xl font-bold text-gray-800 mb-4">Experience</h3>
      <div class="mb-4">
        <h4 class="font-semibold">Senior Software Engineer</h4>
        <p class="text-gray-600">Tech Company, 2016 - Present</p>
        <ul class="list-disc list-inside ml-4">
          <li>Developed scalable web applications using Angular and Node.js.</li>
          <li>Managed a team of developers for project delivery.</li>
        </ul>
      </div>
      <div>
        <h4 class="font-semibold">Software Developer</h4>
        <p class="text-gray-600">Startup XYZ, 2014 - 2016</p>
        <ul class="list-disc list-inside ml-4">
          <li>Implemented new features and functionalities in a fast-paced environment.</li>
          <li>Collaborated with cross-functional teams to deliver projects on time.</li>
        </ul>
      </div>
    </div>
  
    <!-- Skills -->
    <div>
      <h3 class="text-xl font-bold text-gray-800 mb-4">Skills</h3>
      <ul class="list-disc list-inside">
        <li>Angular</li>
        <li>Node.js</li>
        <li>JavaScript / TypeScript</li>
        <li>HTML / CSS / SCSS</li>
        <li>Responsive Design</li>
      </ul>
    </div>
  
  </div>
  